/*  your css code here. If applicable */
.box {
	position: absolute;
	transform: translate(-50x -50x);
	top: 50%;
	left:50%;
}
.box {
	height: 200px;
	width: 200px;
	background-color: lightblue;
	border: 2px solid black;
	align-items: center;
	justify-content: center;
	display: flex;
}
.box p{
	color: purple;
	font-weight: bold;
}